body{
    margin:0;
    background-color:#3d3d29;
}

#container {
    background-color:white;
    width:70%;
    height:80%;
    margin-left:auto;
    margin-right:auto;
    border-left:2px solid black;
    border-right:2px solid black;
    font-family:Georgia,serif;	
}

header {
    background-color:#9933ff;
    padding:8px;
    margin-top:1em;
    border-bottom:2px solid black;
    border-top:2px solid black;
}

header h1{
    padding:10px;
    font-family:Ariel,sans-serif;
           
}

nav ul{
    list-style:none;
    background-color:black;
    padding:15px;
    padding-left:3em;
    margin:0;

}

nav li{
    display:inline;
    border-left:1px solid white;
    border-right:1px solid white;
    text-decoration:none;
    padding:15px 15px; 
}

nav li:hover{
    background-color:pink;
}

nav li a{
    text-decoration:none;
    color:white;
}

#aside{
    background-color:#00ffff;
    border:2px solid black;
    float:right;
    margin-right:1.5em;
    margin-left:1.5em;
    padding:0.7em;
    width:8.5em;
    text-align:left;
}

#aside h3{
    font-family:Ariel,sans-serif;
}

article{
    padding-left:15px;
    margin-right:10px; 
    text-align:left;
}

article h2 {
    font-family:Ariel,sans-serif;
}

footer{
    background-color:#9933ff;
    padding:10px;
    margin:10px;
    border:2px solid black;
}